@charset "UTF-8";

#slide-all {
	margin-top: 100px;
}

.image-slider {
    overflow: hidden;
    width: 100vw;
}

.slides-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%; /* 슬라이드의 총 너비 (4개의 슬라이드) */
}

.slide {
    width: 100vw;
    flex-shrink: 0; /* 슬라이드가 축소되지 않도록 설정 */
}

.slide > img {
    vertical-align: top;
    width: 100vw;
}

.button-container {
    text-align: center;
    margin-top: -40px;
}

.button-container button {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.button-container button:hover {
    background-color: #666;
}