@charset "UTF-8";

.footer {
	padding-left: 3%;
	padding-bottom: 4%;
	background-color: #f4f4f4;
	display: flex;
    align-items: center;
}

#info-basic {
	width: 50%;
}

#info-basic > h2 {
	padding-top: 30px;
	font-size: 40px;
	font-weight: 400;
	padding-bottom: 20px;
}

#info-basic > p {
	padding-top: 20px;
}

#info-basic li {
	margin-bottom: 3px;
	color: #4b3621;
}

.info-sub {
	display: flex;
	justify-content: flex-end;
	gap: 20%;
	margin-right: 9%;
	width: 50%;
}

.sub-menu> h4 {
	margin-bottom: 5px;
	color: #4b3621;
}

.sub-menu strong, .sub-menu p {
	margin-bottom: 3px;
	color: #4b3621;
}

.info-title {
	font-size: 16px;
	color: #4b3621;
}

strong, p{
	display: inline-block;
}