@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

body{
	-ms-overflow-style:none; 
}

ul{
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
}

.select {
	user-select: text;
}

.noBr {
	display: inline-block;
}