@charset "UTF-8";
.sort-new {
	margin: 120px 0;
	margin-left: 16%;
	width: 80%;
}

.sort-new> h2 {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 35px;
}

.newProducts {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	width: 95%;
}

.newProduct {
	margin-bottom: 10px;
}